//A sample main scss file. Use this as a starting point for your css.

//partials!
@import "cot_csu";
@import "form";

//variables!
$blue: blue;
$big:14px;

//nesting!
.main {
  .other {
    font-weight:bold;
    color: $blue;
    font-size:$big;
  }
}

//more: http://sass-lang.com/guide
